@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.light {
  --background: #eaefef;
  --foreground: #171717;
}

.dark {
  --background: #040711;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #040711;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
